.container {
    width: 30%;
    left: 35%;
    right: 35%;
    min-width: 300px !important;
    max-width: 600px !important;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container input[type="submit"][class="register"] {
    background-color: #cccccc;
    color: white;
    border: none;
    cursor: not-allowed;
    border-radius: 5px;
    cursor: pointer;
}

.container input[type="submit"]:hover{
    background-color: #b6b6b6;
}
.container input[type="button"]:hover {
    background-color: #3d8496;
}
.container input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #287285;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.container input[type= "submit"][class="send"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    box-sizing: border-box;
}

.container input[type= "submit"][class="send"]:hover{
    background-color: #45a031;
}


/* Agrega otros estilos de autenticación aquí si es necesario */
