

.password-change-container {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.password-change-container.active {
    display: block;
}

.password-change-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-change-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-change-container input[type="submit"]:hover {
    background-color: #45a049;
}

.change-password-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password-btn:hover {
    background-color: #777;
}

/*-------------------Verification Code Style settings------------------------*/

.verif-code-container {
    display: none;
    background-color: #fff;
    ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.verif-code-container.active {
    display: block;
}

.verif-code-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.verif-code-container input[type="submit"] {
    background-color: #a4a2a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verif-code-container input[type="submit"]:hover {
    background-color: #cccccc;
}
.feedback,
.error-mess-pass {
    display: none;
    color: black;
    align-self: center;
    margin-top: -10px;
}
.check-aceptar {
    display: none;
    }
.check-aceptar label {
    padding-left: 15px;
    text-indent: -15px;
    }
.check-aceptar input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    }
.resend-code-btn {
    background-color: #a4a2a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}
.score-bar {
    display: none;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.bar-segment {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.bar-length {
    background-color: #ccc;
}

.bar-digits {
    background-color: #ccc;
}

.bar-lower {
    background-color: #ccc;
}

.bar-upper {
    background-color: #ccc;
}

.bar-non-words {
    background-color: #ccc;
}

.bar-special-characters {
    background-color: #ccc;
}
.Quality {
    display: none;
    color: black;
    align-self: center;
    margin-top: -10px;
}
.pass-rules {
    display: none;
    color: black;
    align-self: center;
    margin-top: -10px;
}