body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ef7800;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 5px 20px;
}

.logo {
    width: 100px;
    margin-right: 10px;
}
.form-logo {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.navigation {
    display: flex;
    gap: 5px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #555;
}

.navigation a:hover {
    background-color: rgb(239, 120, 60);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.table-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin: 10px; /* Agrega un margen de 20px */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4px;
    
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


tr:hover {
    background-color: #f2f2f2;
}

td {
    word-break: break-word;
}