<div class="password-change-container" id="passwordChangeContainer">
    <form action="{{path}}" method="POST">
        <label for="currentPassword">Contraseña Actual:</label>
        <input type="password" id="currentPassword" name="currentPassword" oninput="disable_box()" required><br><br>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" oninput="disable_box()" required>
        {% include 'pass/rules.html' %}
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" oninput="disable_box()" required>
        <p class="error-mess-pass" id="message"></p>
        {% include 'transitions/waiting.html' %}
        <div class="verif-code-container" id="verifCode">
            <label for="verificationCode">Código de Verificación:</label>
            <input type="text" id="verificationCode" name="verificationCode" oninput="checkVer()" required><br><br>
            <p class="feedback" id="feedback">
                {% if xpr_tm %}
                Se ha enviado un código de verificación a su correo electrónico y expirará a las:  {{ xpr_tm }}
                {% endif %}
            </p>
            <input type="submit" value="Guardar Cambios" id="submit">
        </div>
    </form>
</div>