<div class="password-Register-container" id="passwordRegisterContainer">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" oninput="checkMatch_r()" required><br><br>
    {% include 'pass/rules.html' %}
    <div class="confirmPassword" id="confirmPasswordContainer">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" oninput="checkMatch_r()" required>
        <p class="error-mess-pass" id="message"></p>
    </div>
</div>