<div class="password-change-container" id="passwordChangeContainer">
    <form action="/UI/user_settings" method="POST">
        <label for="currentPassword">Contraseña Actual:</label>
        <input type="password" id="currentPassword" name="currentPassword" oninput="disable_box()" required><br><br>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" oninput="disable_box()" required>
        
        <div class="pass-rules" id="rules">
            <ul>
                <li>A: La contraseña debe tener al menos un número.</li>
                <li>B: La contraseña debe tener al menos una letra minúscula.</li>
                <li>C: La contraseña debe tener al menos una letra mayúscula.</li>
                <li>D: La contraseña debe tener al menos un carácter especial: [!,@,#,$,%,^,&,*,-,.,+,?,<,>,_,:]</li>
                <li>E: La contraseña no puede ser una palabra común.</li>
            </ul>
        </div>
        <div class="score-bar" id="bar">
            <div class="bar-segment bar-digits"> A </div>
            <div class="bar-segment bar-lower"> B </div>
            <div class="bar-segment bar-upper">C</div>
            <div class="bar-segment bar-special-characters"> D </div>
            <div class="bar-segment bar-non-words"> E </div>
        </div>
        <p class="Quality" id="Quality"></p>
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" oninput="disable_box()" required>
        <p class="error-mess-pass" id="message"></p>
        <div class="check-aceptar" id="check-aceptar">
            <label>Aceptar Cambios  <input type="checkbox" id="check" name="check" onchange="triggerCodeVerification('{{token}}')"></label><br><br>
        </div>
        {% include 'transitions/waiting.html' %}
        <div class="verif-code-container" id="verifCode">
            <label for="verificationCode">Código de Verificación:</label>
            <input type="text" id="verificationCode" name="verificationCode" oninput="checkVer()" required><br><br>
            <p class="feedback" id="feedback"></p>
            <input type="submit" value="Guardar Cambios" id="submit">
        </div>
    </form>
</div>