<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- Aquí puedes agregar tus estilos CSS comunes -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/user.css">


</head>
<body>
    <!-- Encabezado común -->
    <div class="header">
        <img class="logo" src="/static/weidmueller_logo.svg" alt="Logo">
        <div class="navigation">
            <a href="/UI/home">Inicio</a>
            <a href="/UI/access_keys">Claves de acceso</a>
            <a href="/UI/user_settings">Configuración de la cuenta</a>
            <a href="/UI/logout">Cerrar Sesión</a>
        </div>
    </div>

    <!-- Contenido específico de cada página -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts comunes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <!-- Aquí puedes agregar tus scripts JavaScript comunes -->
    <script src="/static/js/common.js"></script>
</body>
</html>
