<!-- lockdown.html -->
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cambio de Contraseña</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/pass_reset.css">
<link rel="stylesheet" href="/static/css/wait.css">
</head>
    <body onload="enable_pass_block()">
        {%include 'header/weid_header_nc.html'%}
        <h1>Protocolo de Contención</h1>
        {% include 'pass/password_block.html' %}
        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}
    <script src="/static/js/pass_rules.js"> </script>
    <script>
        function enable_pass_block(){
            const passwordChangeContainer = document.getElementById('passwordChangeContainer');
            passwordChangeContainer.classList.toggle('active');
        }

        function disable_box(){
                var flag = checkMatch();
                var verifCode = document.getElementById("verifCode");
                var feedback_space = document.getElementById("feedback");
                if(flag){
                    feedback_space.style.display = "block";
                    verifCode.style.display = "block";
                }
                else{
                    feedback_space.style.display = "none";
                    verifCode.style.display = "none";
                }
            }
    </script>
    </body>
</html>