<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/auth.css">
        <link rel="stylesheet" href="/static/css/messages.css">
    </head>
    <body>
        <div class="container">
            <img class="form-logo" src="/static/weidmueller_logo.svg" alt="Logo">
            <h2>Login</h2>
            <form action="/UI/login" method="post"  >
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <input type="password" name="password" placeholder="Password" required>
                <a href="/UI/forgotten_password"><P>Forgotten Password?</P></a>
                <input class="login"type="submit" value="Login">
                <a href="/UI/register"><input type="button" value="Register"></a>
            </form>
        </div>
        {% include 'messages/error.html' %}
    </body>
</html>
