<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro de Usuarios</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/password.css">
<link rel="stylesheet" href="/static/css/auth.css">
<link rel="stylesheet" href="/static/css/wait.css">
<link rel="stylesheet" href="/static/css/messages.css">
</head>
<body>
    <div class="container">
        <img class="form-logo" src="/static/weidmueller_logo.svg" alt="Logo">
        <h2>Registro de Usuarios</h2>
        <form action="/UI/register" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="role">Rol:</label>
            <input type="text" id="role" name="role" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="employer">Empleador:</label>
            <input type="text" id="employer" name="employer" required><br><br>
            <label for="security">Palabra de Seguridad:</label>
            <input type="text" id="security" name="security" required><br><br>
            {% include 'pass/password_block_register.html' %}
            <input class= "register" type="submit" value="Registrarse" id="submit" disabled>
            <a href="/UI/login"><input type="button" value="Login"></a>
        </form>
    </div>
    {% include 'messages/error.html' %}
    <script src="/static/js/pass_rules_r.js"> </script>
</body>
</html>