<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Claves de Acceso</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/wait.css">
</head>
<body onload="header_animation()">
    {% include 'header/weid_header.html' %}
    <h1>Claves de Acceso</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>Token de Acceso</th>
                <th>Creada</th>
                <th>Expira</th>
                <th>Acciones</th>
            </tr>
            {% for key in keys %}
            <tr>
                <td>
                    <span id="keyValue{{ key.id }}">{{ key.value }}</span>
                </td>
                <td>{{ key.registry }}</td>
                <td>{{ key.valid_until }}</td>
                <td>
                    <button class="delete-btn" onclick="deleteKey('{{ key.id }}')">Eliminar</button>
                    <button class="copy-btn" onclick="copyToClipboard('keyValue{{ key.id }}')">Copiar</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="new-key-btn" onclick="generateNewKey()">Generar Nueva Llave</button>
    </div>
    <div class="toast" id="copyToast">
        <span class="toast-icon"><i class="fas fa-check-circle"></i></span>
        <span>Copiado al portapapeles</span>
    </div>
    {% include 'transitions/waiting.html' %}
    {% include 'messages/error.html' %}

    <script src="/static/js/ac_keys.js"></script>
    <script src="/static/js/header.js"></script>
</body>
</html>
