<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/user.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/static/weidmueller_logo.svg" alt="Logo">
        <div class="navigation">
            <a href="/UI/home">Inicio</a>
            <a href="/UI/access_keys">Claves de acceso</a>
            <a href="/UI/user_settings">Configuración de la cuenta</a>
            <a href="/UI/logout">Cerrar Sesión</a>
        </div>
    </div>
    <div>
        <h1>Welcome</h1>
    </div>
    </div>
</body>
</html>
