<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Information</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/user.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/static/weidmueller_logo.svg" alt="Logo">
        <div class="navigation">
            <a href="/UI/home">Inicio</a>
            <a href="/UI/access_keys">Claves de acceso</a>
            <a href="/UI/user_settings">Configuración de la cuenta</a>
            <a href="/UI/logout">Cerrar Sesión</a>
        </div>
    </div>
    <h1>User Information</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Employer</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.companies.name }}</td>
                <td>{{ user.companies.phone_number }}</td>
            </tr>
        </table>
        <button class="change-password-btn" onclick="togglePasswordChange()">Cambiar Contraseña</button>
    </div>
    <div class="password-change-container" id="passwordChangeContainer">
        <form action="/this/update_password" method="POST">
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" name="currentPassword" required><br><br>
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" name="newPassword" required><br><br>
            <label for="confirmPassword">Confirmar Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
            <input type="submit" value="Guardar Cambios">
        </form>
    </div>

    <script>
        function togglePasswordChange() {
            const passwordChangeContainer = document.getElementById('passwordChangeContainer');
            passwordChangeContainer.classList.toggle('active');
        }
    </script>
</body>
</html>
